<!DOCTYPE html>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <h2>Hello, <%= @grad.name %></h2>
  <h4><%= @name %> would like to contact you and ask you about DBC.</h4>
  <p>Message sent:</p>
    <p><%= @message %></p>
  <p>From:</p>
    <p><%= @email %></p>
  <p>Thank you for replying!</p>
</html>


