<div data-comp="topbar">
  <span data-comp="logo">BootTrack</span>
  <ul class="nav">
      <li><a data-comp="search-again" href="#">Search again</a></li>
      <li><a data-comp="view-map" href="#">View map</a></li>
  </ul>
</div>
<div class="blur"></div>
<div data-comp="main">
  <div class="contacting">
    Send them a message!
    <button class="x-button">x</button>
    <form action="#" method="post" class="contact-form">
    Name:<input type="text" name="user_name"><br>
    Your email:<input type="text" name="user_email"><br>
    Message:<input type="text" name="message">
    <input type="hidden" name="id"><br>
    <input class="send-email" type="submit"></form>
  </div>
  <div class="hidable">
    <h2 data-comp="app-name">BootTrack</h2>
    <span data-comp="tag-line">Wow much description, such understand.</span>
    <div data-comp="search-container">
      <form class="index-search">
        <div data-comp="campus" class="dropdown">
        <select name="campus" id="campus">
          <option selected="selected" value="default">Campus...</option>
          <option value="Chicago">Chicago</option>
          <option value="New York City">New York</option>
          <option value="San Francisco">San Francisco</option>
        </select>
        </div>
        <div data-comp="year" class="dropdown">
        <select name="year">
          <option selected="selected" value="default">Year...</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
        </select>
        </div>
        <input data-comp="button" type="submit" value="Search">
      </form>
    </div>
  </div>
  <div class='card-container'></div>
</div>
<footer>
  <span>Footer goes here.</span>
</footer>
