<div data-comp="topbar">
  <span data-comp="logo">BootTrack</span>
</div>
<div data-comp="banner">
  <h1 data-comp="tag-line">Description text goes here.
  </h1>
  <div data-comp="search-container">
  <input type="button" value="Campus" data-comp="button">
    <ul data-comp="campus"> Campus
      <li class="Campus">Chicago</li>
      <li class="campus">New York</li>
      <li class="campus">San Francisco</li>
    </ul>
    <input type="button" value="Year" data-comp="button">
    <ul data-comp="year"> Year
      <li class="hide">2014</li>
      <li>2013</li>
      <li>2012</li>
    </ul>
    <input type="button" value="submit" data-comp="button">
  </div>
</div>
<div data-comp='footer'>
  <span>Footer goes here.</span>
</div>
