$STANDARD_FONT: 'Roboto';

div[data-comp="topbar"] {
  border-bottom: 1px solid black;
  width: 100%;
  height: 5em;
  color: white;
  line-height: 5em;
  overflow: hidden;
  font-size: 1.2em;
  display: none;
  font-family: $STANDARD_FONT;
  font-weight: 400;
  background-color: black;
  margin: 0 auto;

}

a[data-comp="logo"] {
  text-decoration: none;
  color:white;
  font-family: $STANDARD_FONT;
  font-weight: 400;
  height: 12.5em;
  width: 12.5em;

}

.blur {
  position: fixed;
  background: url('sf.jpg') no-repeat center;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

div {
  &[data-comp="main"] {
    clear: both;
    /*background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('sf.jpg');*/
    /*background-image: url('sf.jpg');*/
    height: 40em;
    text-align: center;
    padding: .5em;
    overflow: auto;
  }
  &[data-comp="search-container"] {
    min-width: 713px;
    max-width: 55%;
    height: 5em;
    background-color: black;
    margin: 0 auto;
    background-color: rgba(10, 10, 10, 0.5);
  }
}

h2[data-comp="app-name"] {
  margin: 0;
  font-size: 6em;
  color: black;
  font-family: $STANDARD_FONT;
  font-weight: 300;
}

span[data-comp="tag-line"] {
  margin: 0;
  font-size: 2em;
  color: black;
  font-family: $STANDARD_FONT;
  font-weight: 300;
}

input[data-comp="button"] {
  float: right;
  background-color: #308446;
  color: white;
  border: .15em solid white;
  border-radius: .313em;
  height: 2.125em;
  width: 7.5em;
  margin-top: 1.5em;
  margin-right: 3.75em;
  &:hover {
    border: none;
    border-radius: .313em;
  }
}

.card-container {
  width: 75%;
  margin: 0 auto;
}

.map-card-container {
  width: 20%;
  height: 600px;
  margin: 0;
  position: fixed;
  right: 0;
  top: 6em;
  z-index: 10;
  background-color: red;
  overflow: scroll;
  display: none;
}

.card {
  float: left;
  width: 13.625em;
  height: 23em;
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: .625em;
  border: 1px solid black;
  margin: .625em;
  // box-shadow: .375em .375em .188em black;
  color: white;
  font-family: $STANDARD_FONT;
  font-weight: 100;
  img {
    margin-top: .625em;
    border: 2px solid grey;
    border-radius: .313em;
  }
  h3 {
    font-family: $STANDARD_FONT;
    font-weight: 400;
  }
}

.dropdown {
  select {
    background: transparent;
    width: 260px;
    padding: 5px;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    height: 34px;
  }
  display: inline-block;
  text-align: center;
  width: 15em;
  height: 2.145em;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 1.5em .625em;
}

ul.nav {
  display: inline;
  float: right;
  margin: 0 40px;
  padding: 0;
  font-family: $STANDARD_FONT;
  font-weight: 300;
  li {
    height: 12.5em;
    width: 12.5em;
    list-style-type: none;
    display: inline;
    padding: 10px;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: none;
      background-color: grey;
    }
  }
}

.contact {
  font-family: $STANDARD_FONT;
  font-weight: 300;
  float: right;
  background-color: #308446;
  color: white;
  border: .15em solid white;
  border-radius: .313em;
  height: 2.125em;
  width: 7.5em;
  margin-top: 1.5em;
  margin-right: 3.75em;
  &:hover {
    border: none;
    border-radius: .313em;
  }
}

.x-button {
  left: 376px;
  position: absolute;
}

#map-canvas {
  display: none;
  /*  margin: 0 auto;*/
  z-index: 10;
  width: 100%;
  height: 600px;
  margin: 0;
}

#campus {
  font-family: Roboto;
  font-weight: 100;
  color: white;
}

#year {
  font-family: Roboto;
  font-weight: 100;
  color: white;
}

.contacting {
  display:none;
  position: absolute;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  background: #EEE;
  padding: 20px 30px 20px 30px;
  font: 12px Georgia, "Times New Roman", Times, serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #DADADA;
  h2 {
    font: 25px Georgia, "Times New Roman", Times, serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
    > span {
      display: block;
      font-size: 11px;
    }
  }
  label {
    display: block;
    margin: 0px 0px 5px;
    > span {
      float: left;
      width: 80px;
      text-align: right;
      padding-right: 10px;
      margin-top: 10px;
      color: #888;
    }
  }
  input {
    &[type="text"], &[type="email"] {
      border: 1px solid #DADADA;
      color: #888;
      height: 24px;
      margin-bottom: 16px;
      margin-right: 6px;
      margin-top: 2px;
      outline: 0 none;
      padding: 3px 3px 3px 5px;
      width: 70%;
      font: normal 12px / 12px Georgia, "Times New Roman", Times, serif;
    }
  }
  textarea {
    border: 1px solid #DADADA;
    color: #888;
    height: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font: normal 12px / 12px Georgia, "Times New Roman", Times, serif;
  }
  select {
    border: 1px solid #DADADA;
    color: #888;
    height: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font: normal 12px / 12px Georgia, "Times New Roman", Times, serif;
    background: white url('down-arrow.png') no-repeat right;
    background: white url('down-arrow.png') no-repeat right;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    height: 30px;
  }
  textarea {
    height: 100px;
  }
  .button {
    background: #E48F8F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    &:hover {
      background: #cf7a7a;
    }
  }
}

/*Gayatri Sans Serif
Farray
Penna
Simplifica
Eunomia
*/

