div[data-comp="topbar"]{
  border-bottom: 1px solid black;
  width: 100%;
  height: 5em;
  background-color: black;
  color: white;
  line-height: 5em;
  overflow: hidden;
  font-size: 1.2em;
  display: none;
}

.blur{
  position: fixed;
  background:url('sf.jpg') no-repeat center;
  background-size:cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  position:absolute;
  width:100%;
  height:100%;
  z-index: -1;
}

div[data-comp="main"]{
  clear: both;
  /*background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('sf.jpg');*/
  /*background-image: url('sf.jpg');*/
  height: 40em;
  text-align: center;
  padding: .5em;
  overflow: auto;
}

div[data-comp="search-container"]{
  min-width: 713px;
  max-width: 55%;
  height: 5em;
  background-color: black;
  margin: 0 auto;
  background-color:rgba(10,10,10,0.5);
}

h2[data-comp="app-name"]{
  margin: 0;
  font-size: 6em;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}

span[data-comp="tag-line"]{
  margin: 0;
  font-size: 2em;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}

input[data-comp="button"]{
  float: right;
  background-color: #308446;
  color: white;
  border: .15em solid white;
  border-radius: .313em;
  height: 2.125em;
  width: 7.5em;
  margin-top: 1.5em;
  margin-right: 3.75em;
}
input[data-comp="button"]:hover{
  border: none;
  border-radius: .313em;
}
footer{
  position: absolute;
}
.card-container{
  width: 75%;
  margin: 0 auto;
}


.card{
  float: left;
  width: 13.625em;
  height: 20em;
  background-color: white;
  border-radius: .625em;
  border: 1px solid black;
  margin: .625em;
  box-shadow: .375em .375em .188em black;
}

.card img{
  margin-top: .625em;
  border: 2px solid grey;
  border-radius: .313em;
}

.dropdown select {
  background: transparent;
  width: 260px;
  padding: 5px;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  height: 34px;
  }

.dropdown {
  display: inline-block;
  text-align: center;
  width: 15em;
  height: 2.145em;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 1.5em .625em;
}

ul.nav{
  display: inline;
  float: right;
  margin: 0 40px;
  padding: 0;
}

ul.nav li{
  height: 12.5em;
  width: 12.5em;
  list-style-type: none;
  display: inline;
  margin-right: 5%;
}

ul.nav a{
  color: white;
  text-decoration: none;
}

ul.nav a:hover{
  color: white;
  text-decoration: none;
  background-color: grey;
}

#map-canvas{
  display: none;
/*  margin: 0 auto;*/
  z-index: 10;
  width: 80%;
  height: 600px;
  margin: 0;
}

/*Gayatri Sans Serif
Farray
Penna
Simplifica
Eunomia
*/

