div[data-comp="topbar"]{
  border-bottom: 1px solid black;
  width: 100%;
  height: 5em;
  background-color: black;
  color: white;
  line-height: 5em;
  overflow: hidden;
  font-size: 1.2em;
  display: none;
}

.blur{
  position: fixed;
  background:url('sf.jpg') no-repeat center;
  background-size:cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  position:absolute;
  width:100%;
  height:100%;
  z-index: -1;
}

div[data-comp="main"]{
  clear: both;
  /*background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('sf.jpg');*/
  /*background-image: url('sf.jpg');*/
  height: 40em;
  text-align: center;
  padding: .5em;
  overflow: auto;
}

div[data-comp="search-container"]{
  width: 800px;
  height: 80px;
  background-color: black;
  margin: 0 auto;
  background-color:rgba(10,10,10,0.5);
}

h2[data-comp="app-name"]{
  margin: 0;
  font-size: 6em;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}

span[data-comp="tag-line"]{
  margin: 0;
  font-size: 2em;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}

input[data-comp="button"]{
  float: right;
  background-color: #308446;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  height: 34px;
  width: 120px;
  margin-top: 24px;
  margin-right: 60px;
}
input[data-comp="button"]:hover{
  border: none;
  border-radius: 5px;
  height: 34px;
}
footer{
position: absolute;
}
#map-canvas{
  width: 100%;
  height: 1000px;
}

.card-container{
  width: 1040px;
  margin: 0 auto;
}


.card{
  float: left;
  width: 218px;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  margin: 20px;
  box-shadow: 6px 6px 3px black;
}

.card img{
  margin-top: 20px;
  border: 2px solid grey;
  border-radius: 5px;
}

.dropdown select {
  background: transparent;
  width: 260px;
  padding: 5px;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  height: 34px;
  }

.dropdown {
  display: inline-block;
  text-align: center;
  width: 240px;
  height: 34px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 24px 10px;
}

ul.nav{
  display: inline;
  float: right;
  margin: 0 40px;
  padding: 0;
}

ul.nav li{
  height: 200px;
  width: 200px;
  list-style-type: none;
  display: inline;
  margin-right: 5%;
}

ul.nav a{
  color: white;
  text-decoration: none;
}

ul.nav a:hover{
  color: white;
  text-decoration: none;
  background-color: grey;
}

#map-canvas{
  display: none;
}

/*Gayatri Sans Serif
Farray
Penna
Simplifica
Eunomia
*/

