div[data-comp="topbar"]{
  border-bottom: 1px solid black;
  width: 100%;
  height: 5em;
  background-color: black;
  color: white;
  line-height: 5em;
}
div[data-comp="banner"]{
  background-color: grey;
  height: 35em;
  text-align: center;
  padding: .5em;
}
h1[data-comp="tag-line"]{
  margin-top: 10%;
  font-size: 2em;
  color: beige;
}
div[data-comp="search-container"]{
  display: inline-block;
  background: rgba(0,0,0,.5);
  width: 33%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}
input[data-comp="button"]{
  background-color: orange;
  border: none;
}
input[data-comp="button"]:hover{
  background-color: white;
  border: none;
  border-radius: 0;

}
select{
  background-color: teal;
  border-radius: 0;
  border: none;
}
div[data-comp="footer"]{
  max-height: .5em;
}
ul{
  text-align: left;
}
li{
  list-style-type: none;
}