<!DOCTYPE html>
<html>
<head>
  <title>BootTrack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- load into assets and use asset pipeline. -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

</body>
</html>
