<!DOCTYPE html>
<html>
<head>
  <title>BootTrack</title>
     <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlOPEurfCION_NTr99jdYCY3hfbWlfI7g">
    </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
